body {
	margin-left: 100px;
	background-color: peachpuff;
}

h1 {
	color: lavenderblush;
	front-family: "Open Sans", sans-serif;
	front-size: 50px
}

p{
	font-size: 25px;
	color : white;
}
